{% extends "base.html"%}

{% block title %}
    <title>Error 404 Not Found</title>
{% endblock title %}

{% block container %}
    <div class="container">
        <div class="pdf-uploader">
            <form>
                <div>
                    <h1>Error 404 Not Found</h1>
                    <p>Sorry your request was not found!</p>
                    <p>Click the home button below.</p>
                    <br><br>
                </div>
                <input type="submit" formaction="/" value="Home" />
            </form>
        </div>
    </div>
{% endblock container %}