{% extends "base.html"%}

{% block title %}
    <title>PDF Scrape Converter</title>
{% endblock title %}

{% block container %}
    <div class="container">
        <div class="pdf-uploader">
            <form action="/convert"
                    method="POST"
                    enctype="multipart/form-data">
                <div>
                    <h1>
                        PDF Converter
                    </h1>
                </div>
                <div class="page-select">
                    <label>Provide a page number or type "all":</label>
                    <input type="text" name="page-param" placeholder="Place a page number or all here.." />
                </div>
                <div class="uploader">
                    <input type="file" name="file" />
                </div>
                <div>
                    <input type="submit" value="Convert File" />
                </div>
            </form>
        </div>
    </div>
{% endblock container %}